
/********************
   =single-page
*********************/

// =carousel
.image {
  // height: 250px;
  // max-height: 250px;
}
.image-slider {
  // height: 250px;
  // max-height: 250px;
}
.carousel-inner {
  transition: all .3s linear;
}
.peopleCarouselImg {
  border: 3px double #aaa;
  border-radius: 15px;
  overflow: hidden;
  transition: all .3s linear;
  // display: flex;
  img{
    // margin: auto;
    // width: auto;
    // height: 250px;
    // max-height: 250px;
  }
}

// =complete-info
.complete-info {
  .post-date {
    margin-bottom: 30px;
    text-transform: uppercase;
    @include description(#777, #fff);

  }
  .description {
    line-height: 1.7em;
    white-space: pre-wrap;
    @include description(#777, rgba(255, 0 ,0 ,0.5));
  }
  .info-summary {
    font-weight: bold;
    >div {
      margin-bottom: 30px;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

// location-map
#map {
  height: 400px;
}

@media (max-width: 767.98px) {
  .image {
    order: -1;
  }
}